/* 1 forma de utilizar uma fonte */
/* @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap'); */

/* 2 forma de utilizar uma fonte */
@font-face {
    font-family: Billabong;
    src: url(../assets/fonts/Billabong/billabong.ttf),
        url(../assets/fonts/Billabong/billabong_regular.otf);
}

/* variaveis */
:root {
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branco: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4D4D4D;
    --cor-cinza-escuro3: #7D7D7D;
    --cor-cinza-escuro4: #D1D1D1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* SELETOR GLOBAL */
*{
    padding: 0; /*espaço interno*/
    margin: 0; /*espaço externo*/
    box-sizing: border-box; /*atribui espaços internos/externos e bordas no tamanho final do box*/
    font-family: "Segoe UI", sans-serif;
}

body{
    background-color: var(--cor-cinza-claro);
}

h1{    
    position: absolute; /*altera a posição do elemento*/
    z-index: -1; /*camadas do elemento*/
    opacity: 0; /*opacidade*/
}
